* {box-sizing: border-box;}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.home{
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.homeOne{
  grid-row: 1/3;
  grid-column: 1;
}

.homeTwo{
  grid-row: 2/3;
  grid-column: 2;
}

.currencyTable{
  margin: 0 auto;
  width: auto;
  height: 100vh;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: scroll;
  font-size: 50px;
}

tr:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}

.converter{
  display: inline-flex;
  width: 50vw;
}

.converter *{
  margin: 0 auto;
}
